<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
</head>

<body>

    <header id="header"></header>

    <main>
        <header>
            <h1>첫번째 글</h1>
        </header>

        <aside>
            <p><span>Psj</span> </p>
            <p><a href="mailto:sjnnj@naver.com">sjnnj@naver.com</a> </p>
            <p><time datetime="2024-08-11T00:00:00">2024-08-11</time> </p>
            <p>#java</p>
        </aside>


    </main>

    <footer id="footer"></footer>

</body>
</html>
